<?php
return [
    'broker' => [
        'host' => getenv('FTCBOT_BROKER_HOST'),
        'username' => getenv('FTCBOT_BROKER_PORT'),
        'password' => getenv('FTCBOT_BROKER_USERNAME'),
        'port' => getenv('FTCBOT_BROKER_PASSWORD'),
    ],
    'dependencies' => [
        'factories' => [
            \FTCBotCore\Broker\BrokerClient::class => \FTCBotCore\Container\Broker\AMQPClientFactory::class,
        ],
        'invokables' => [
            'EventMessageFactory' => \FTCBotCore\Message\MessageFactory::class,
        ],
    ],
];
