<?php
return [
    'broker' => [
        'host' => trim(getenv('FTCBOT_BROKER_HOST')),
        'username' => trim(file_get_contents('/run/secrets/ftcbot-broker-username')),
        'password' => trim(file_get_contents('/run/secrets/ftcbot-broker-password')),
        'port' => trim(getenv('FTCBOT_BROKER_PORT')),
    ],
    'dependencies' => [
        'factories' => [
            \FTCBotCore\Broker\BrokerClient::class => \FTCBotCore\Container\Broker\AMQPClientFactory::class,
        ],
        'invokables' => [
            'EventMessageFactory' => \FTCBotCore\Message\MessageFactory::class,
        ],
    ],
];
