<?php

return [
    'core-db' => [
        'host' => trim(getenv('FTCBOT_DB_HOST')),
        'port' => trim(getenv('FTCBOT_DB_PORT')),
        'user' => trim(file_get_contents('/run/secrets/ftcbot-db-user')),
        'password' => trim(file_get_contents('/run/secrets/ftcbot-db-password')),
        'database' => trim(getenv('FTCBOT_DB_DBNAME')),
        'cache' => [
            'server' => trim(getenv('FTCBOT_CORE_CACHE_SERVER')),
            'timeout' => 2,
            'version' => trim(getenv('FTCBOT_CORE_CACHE_VERSION')),
        ],
    ],
    'dependencies' => [
        'factories' => [
            \FTC\Discord\Db\Core::class => \FTC\Discord\Db\Postgresql\Factory\Core::class,
            \FTCBotCore\Db\DbCacheInterface::class => \FTCBotCore\Container\Db\Cache\RedisDbCache::class,
        ]
    ]
];
