<?php
return [
    'discord' => [
        'token' => trim(file_get_contents('/run/secrets/ftcbot-discord-token')), // The Discord bot token,
        'auth_token' => trim(file_get_contents('/run/secrets/ftcbot-discord-auth-token')), // HTTP auth header token
    ]
];
