<?php
return [
    'discord' => [
        'token' => getenv('FTCBOT_DISCORD_TOKEN'), // The Discord bot token,
        'auth_token' => getenv('FTCBOT_DISCORD_AUTH_TOKEN'), // HTTP auth header token
    ]
];
